/* Custom CSS for Jumbotron-like component */
.jumbotron {
    background-color:lightgray; /* Set the background color */
    padding: 20px; /* Add padding to create space around the content */
    border-radius: 10px; /* Add rounded corners */
   text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .jumbotron h1 {
    font-size: 27px; /* Adjust the font size of the heading */
    color: #333; /* Set the text color */
  }
  
  .jumbotron p {
    font-size: 18px; /* Adjust the font size of the paragraph */
    color: #555; /* Set the text color */
  }
  